@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100&display=swap");
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu";
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 44px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 66vh;
  background-color: black;
  color: white;
  font-family: "varela Round", sans-serif;
  display: flex;
  width: 80%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url("spotify\ backg.jpg");
}
.bottom {
  position: sticky;
  height: 60px;
  background-color: black;
  color: white;
  bottom: 0;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}
.icons {
  margin: 14px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 74px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  width: 80%;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}
.timestamp {
  margin: 0 23px;
}
.timestamp i {
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 0;
  font-family: "varela Round", sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity ease-in;
}

/* Your existing styles */

/* Media query for Redmi Note 9 Pro */
@media only screen and (max-width: 1080px) {
  .container {
    width: 90%;
    padding: 15px;
  }
  .songItemContainer {
    margin-top: 54px;
  }
  .songItem {
    width: 100%;
  }
  .songInfo img {
    width: 33px;
    margin: 0 13px;
    border-radius: 24px;
  }
  .timestamp {
    margin: 0 13px;
  }
  .bottom {
    height: auto;
    flex-direction: column;
  }
  #myProgressBar {
    width: 100%;
    margin-bottom: 10px;
  }
  .icons {
    margin: 10px 0;
    text-align: center;
  }
  .songInfo {
    position: static;
    text-align: center;
    padding-bottom: 15px;
  }

  .songInfo img {
    display: block;
    margin: 0 auto;
    font-size: 80px;
  }
  .bottom {
    flex-direction: column;
    height: 100px;
  }
  span .mastersongName {
    padding-bottom: 20px;
  }
}
